.section {
  padding-top: 5px;
  width: 45%;
  padding-right: 4%;
  display: inline-block;
  vertical-align: top;
}

.section-content {
  padding: 8px 20px 5px;
  border-left: 4px solid #283044;
  min-height: 220px;
}


.section-content.technical-skills{
  padding: 8px 20px 5px;
  border-left: 4px solid #283044;
  min-height: 0px;
}

.section-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Hind Guntur', sans-serif;
  color: $section-title;
  width: 100%;

  svg {
    margin: 0px 10px 3px -10px;
  }
}

.section-item {
  padding-bottom: 5px;
  .section-item-title {
    font-size: 17px;
    display: flex;
    align-items: center;
    a {
      display: flex;
    }
  }

  .section-item-subtitle {
    color: $subtitle;
    font-size: 14px;

    .timeline {
      font-style: italic;
    }
  }
}

.row { 
  vertical-align: top;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid #35b729;
}

.fas.title-icon {
  color: #22761a;
  font-size: 30px;
  margin: 0px 10px 3px -14px;
}

.fas.title-icon-right {
  color: #22761a;
  font-size: 30px;
  margin: 0px 10px 3px -10px;
}
.material-icons.title-icon {
  color: #22761a;
  font-size: 30px;
  margin: 0px 10px 3px -14px;
}
.section.technical-skills {
  width: 100%
}